* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f9f9f9;
  overflow-x: hidden;
}

/* Reusable container */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem !important;
  }

  p {
    font-size: 1rem !important;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.6rem !important;
  }
  p {
    font-size: 0.9rem !important;
  }
}
